@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.miniproject_left div {
  width: 50px;
  height: 50px;
  background-color: red;
}

.bg-glass,
.search {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.search:focus {
  outline: none;
}

.bg-glassmorphism {
  background-image: #9cff99;
  background-image: radial-gradient(
      at 87% 58%,
      hsla(23, 96%, 72%, 1) 0,
      transparent 44%
    ),
    radial-gradient(at 29% 26%, hsla(7, 73%, 63%, 1) 0, transparent 40%),
    radial-gradient(at 64% 11%, hsla(220, 78%, 76%, 1) 0, transparent 50%),
    radial-gradient(at 37% 73%, hsla(334, 89%, 75%, 1) 0, transparent 55%),
    radial-gradient(at 77% 58%, hsla(98, 83%, 74%, 1) 0, transparent 51%),
    radial-gradient(at 33% 59%, hsla(67, 60%, 65%, 1) 0, transparent 48%),
    radial-gradient(at 43% 54%, hsla(301, 73%, 69%, 1) 0, transparent 40%);
}

.bg-left {
  background-image: url("https://picsum.photos/2000");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Glassmorphism card effect */
.bg-signin {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 5rem;
}

.text-login {
  color: rgb(34 33 118 / 85%);
}

.hover-github:hover {
  color: #22272e;
}

.button-login {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
}

.btn-signup {
  background-image: linear-gradient(
    to right,
    #50c9c3 0%,
    #96deda 51%,
    #50c9c3 100%
  );
}
.btn-signup {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;
}

.btn-signup:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-signin {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
.btn-signin {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-signin:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
.btn-grad {
  padding: 15px 45px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-menu {
  background-image: linear-gradient(
    to right,
    #cb356b 0%,
    #bd3f32 51%,
    #cb356b 100%
  );
}
.btn-menu {
  padding: 5px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-menu:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-task {
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
}
.btn-task {
  margin: 10px 0 10px 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-task:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.nav-text {
  color: #000;
}
.btn.focus,
.btn:focus {
  box-shadow: transparent !important;
  border-color: transparent !important;
}

.btn-create {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}
.btn-create {
  padding: 15px 45px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-create:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-card {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}
.btn-card {
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-card:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-card-1 {
  background-image: linear-gradient(
    to right,
    #ff4b1f 0%,
    #ff9068 51%,
    #ff4b1f 100%
  );
}
.btn-card-1 {
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-card-1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.miniproject_right{
  transition: all 0.5s ease;

}

.miniproject_right:hover {
  transition: all 0.5s ease-in-out;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

/* Generated by https://generator.ui.glass/ */

.jira {
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  background-image: #ff99c3;
  background-image: radial-gradient(
      at 65% 11%,
      hsla(238, 87%, 76%, 1) 0,
      transparent 58%
    ),
    radial-gradient(at 51% 78%, hsla(286, 80%, 70%, 1) 0, transparent 59%),
    radial-gradient(at 27% 23%, hsla(278, 75%, 71%, 1) 0, transparent 51%),
    radial-gradient(at 20% 67%, hsla(246, 68%, 75%, 1) 0, transparent 51%),
    radial-gradient(at 66% 3%, hsla(195, 61%, 77%, 1) 0, transparent 53%),
    radial-gradient(at 80% 74%, hsla(290, 65%, 75%, 1) 0, transparent 44%),
    radial-gradient(at 49% 25%, hsla(291, 78%, 67%, 1) 0, transparent 59%);
}

/* Sider Bar */
.sideBar {
  position: fixed;
  height: 100vh;
  z-index: 10;
  background-color: #065fd4;
  width: 4%;
  transition: 0.2s;
}

.sideBar:hover {
  width: 15%;
}

.sideBar:hover .sideBar-top .sideBar-icon:first-child {
  padding: 0 40%;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) {
  padding: 0;
  padding-left: 5%;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .svg-inline--fa {
  margin-right: 10px;
}

.sideBar:hover .sideBar-bottom {
  left: 0%;
  width: 100%;
}

.sideBar:hover .sideBar-bottom .svg-inline--fa {
  margin-right: 10px;
}

.sideBar:hover .sideBar-bottom .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.sideBar .sideBar-icon {
  margin-bottom: 20%;
}

.sideBar .sideBar-icon .svg-inline--fa {
  color: white;
}

.sideBar .sideBar-icon .title {
  opacity: 0;
}

.sideBar .sideBar-top .sideBar-icon:first-child {
  padding-top: 20%;
  font-size: 25px;
}

.sideBar .sideBar-bottom {
  position: absolute;
  bottom: 3%;
  left: 8%;
}

.sideBar .sideBar-icon {
  padding: 0 18%;
}

.sideBar .sideBar-icon:not(:first-child) {
  padding: 0 30%;
  height: 30px;
}

/* Menu */
.menu {
  height: 100vh;
  width: 112%;
  position: relative;
  z-index: 10;
    /* background-color: #f4f5f7; */
}

.menu .account {
  display: flex;
  /* padding: 5% 17%; */
  margin-bottom: 2%;
  margin-left: 7%;
}

.menu .account .avatar {
  padding-top: 13%;
  margin-right: 10px;
}

.avatar img {
  width: 50px;
}

.menu .account .account-info {
  padding-top: 12%;
  padding-bottom: 5%;
  text-align: left;
  margin-top: 5px;
}

.menu .account .account-info p:first-child {
  margin-bottom: 3px;
  font-weight: 500;
}

.menu .account .account-info p:last-child {
  margin-top: 0px;
  font-weight: 300;
}

.menu .control {
  /* padding: 0% 10%; */
  text-align: left;
  margin-bottom: 8%;
  border-bottom: 2px solid #c4c5c6;
  margin-left: 7%;
  /* margin-right: 7%; */
}

.menu .control div {
  margin-bottom: 10px;
  padding: 2% 3%;
  cursor: pointer;
}

.menu .control div span:first-child {
  margin-right: 10px;
}

.menu .control div span:first-child:focus {
  background-color: #ebecf0;
}

.menu .control div:focus {
  color: royalblue;
}

.menu .feature {
  /* padding: 0% 10%; */
  text-align: left;
  margin-bottom: 8%;
  margin-left: 7%;
  /* margin-right: 7%; */
}

.menu .feature div {
  margin-bottom: 5px;
  padding: 2% 3%;
  cursor: pointer;
}

.menu .feature div .svg-inline--fa {
  margin-right: 5px;
}

.menu .feature div span {
  font-size: 14px;
}

.main {
  margin-left: auto;
  margin-right: auto;
}
.main .header .breadcrumb {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.6);
  /* border-radius: 12px; */
  border: 1px solid rgba(209, 213, 219, 0.3);

  margin-bottom: 0;
  padding-left: 0px;
}

.main .header {
}

.main h3 {
  margin-bottom: 20px;
}

.main .info .search-block {
  position: relative;
  margin: auto 0;
}

.main .info .search-block .search {
  height: 32px;
  width: 200px;
  /* background-color: rgb(250, 251, 252); */
  border: 2px solid rgb(223, 225, 230);
  border-radius: 3px;
  padding-left: 32px;
}

.main .info .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 23%;
  color: #67748b;
}

.main .info .avatar-group {
  margin-left: 20px;
}

.avatar-group .avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 50%;
}

.avatar img {
  width: 50px;
  border: 1px solid transparent;
  height: 50px;
  border-radius: 50%;
}

.main .info .text {
  text-align: center;
  line-height: 35px;
}

.main .content {
  margin-top: 20px;
}

.main .content .card {
  /* backdrop-filter: blur(16px) saturate(180%); */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 0.5rem;
}

.main .content .card .card-header {
  border: none;
  background-color: transparent;
  color: #5e6c84;
}

.main .content .card .list-group {
  border: none;
}

.main .content .card .list-group .list-group-item {
  margin: 5px;
  border-radius: 10px;
}

.list-group-item p {
  font-size: 14px;
}

.list-group-item .block {
  justify-content: space-between;
}

.list-group-item .block .block-left {
  line-height: 40px;
}

.list-group-item .block .block-left .svg-inline--fa {
  margin-right: 5px;
}

.fa-bookmark {
  color: #5fb03e;
}

.fa-arrow-up {
  color: #d85463;
}

.fa-check-square {
  color: #62a0ce;
}

/* Modal */
.modal-search {
  margin: 0px !important;
}

.modal-search .modal-content {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100vh;
}

.modal-search .modal-content .modal-header {
  border-bottom: none;
}

.modal-search .modal-content .modal-header .search-block {
  position: relative;
  width: 100%;
}

.modal-search .modal-content .modal-header .search-block .search {
  height: 32px;
  border: none;
  border-bottom: 2px solid #7094ce;
  padding-left: 32px;
  width: 100%;
}

.modal-search .modal-content .modal-header .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 15%;
  color: #67748b;
}

.modal-search .modal-body div {
  height: 50px;
}

.modal-search .modal-body div .icon {
  padding: 3% 0px;
  margin-right: 15px;
}

.modal-search .modal-body div div p {
  margin: 0;
  font-size: 16px;
}

.modal-search .modal-body div div p:last-child {
  color: grey;
}

/* Modal Info */
.modal-info {
  max-width: 1000px !important;
}

.modal-info .modal-content {
  padding: 20px 24px;
}

.modal-info .modal-content .modal-header {
  padding: 1rem 2rem;
  border-bottom: none;
}

.task-title span {
  margin-left: 10px;
}

.task-click div span {
  padding-right: 20xp;
}

.fa-trash-alt {
  width: 20px !important;
  height: 20px;
}

.task-click .close {
  padding-bottom: 16px !important;
}

.modal-info .modal-body .issue {
  font-size: 20px;
  font-weight: 500;
}

.modal-info .modal-body .description p:first-child {
  margin-bottom: 5px;
}

.input-comment {
  width: 100%;
}

.input-comment input {
  width: 100%;
  height: 45px;
  padding: 10px;
}

.block-comment .avatar {
  margin-right: 15px;
}

.display-comment .avatar {
  margin-right: 15px;
}

.col-4 h6 {
  font-size: 13px;
}

.status .custom-select {
  height: 35px;
  background: #dcdfe4;
  margin-bottom: 20px;
}

.item {
  margin-right: 20px;
  background: #e9eaf0;
  padding: 5px;
  border-radius: 5px;
  flex-basis: 50%;
}

.item .avatar img {
  width: 30px;
  height: 30px;
}

.item .name {
  margin: 0;
}

.reporter .item {
  width: fit-content;
}

.reporter {
  margin-bottom: 20px;
}

.estimate-hours {
  height: 35px;
  background: #f2f3f7;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #ced4da;
  width: 100%;
  padding: 8px;
}

.estimate-hours:focus {
  background: white;
}

.time-tracking {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ced4da;
}

.time-tracking h6 {
  font-size: 12px;
  color: #929398;
}

.fa-clock {
  margin-right: 10px;
}

.progress {
  height: 5px !important;
  width: 100%;
}

.logged,
.estimate-time {
  font-size: 14px;
}


.timeline {
  border-left: 3px solid #727cf5;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(114, 124, 245, 0.09);
  /* margin: 0 auto; */
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  /* max-width: 40%; */
}

@media (max-width: 767px) {
  .timeline {
      max-width: 98%;
      padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
      padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
      left: 0px;
      text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #727cf5;
  box-shadow: 0 0 0 3px #727cf5;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
      left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}


.skill6{
  --animate-delay: 6s;
}
.skill7{
  --animate-delay: 7s;
}
.skill8{
  --animate-delay: 8s;
}


@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.typing-name { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 27rem; 
	white-space: nowrap;
	overflow: hidden;
	animation: typing 7s steps(22, end),
	blink-caret 0.5s step-end infinite alternate;
}



.cv-header h3, .cv-header h1{
  color: rgb(33 43 120 / 85%);
}

.cv-body h5, .cv-body h3{
  color: rgb(33 43 120 / 85%);
}


.skill h2, .skill h5{
  color:rgb(11 159 139 / 85%);
}

.miniproject_right h5{
  font-weight: 600;
  color: rgb(13 128 188 / 85%);
}

.miniproject_right .card{
  width: 18rem;
}


/* .navbar-button{
  display: none;
} */

@media only screen and (min-width: 1200px) {
  .button-query{
    opacity: 0;
  }
  .menu,.button-big-query{
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .menu,.button-big-query{
    display: none;
  }
  .button-query{
    opacity: 1;
  }

}
@media only screen and (max-width: 768px) {
  .typing-name{
    font-size: 2rem; 
    width:20rem;
  }
  .timeline .event{
    padding-top: 0px;
  }
.miniproject_right .card{
  width: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main .info .text{
  text-align: initial;
}
.main .content .card{
  width: 0rem;
  margin: 1rem;
}
}

@media only screen and (max-width: 576px) {

}

.main .content .card{
  width: 21rem;
  height: auto;

}

.button-query{
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
}

.menu-toggle {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 6%;
  /* display:none; */

}


.menu-color-toggle{
  color:hsla(7, 73%, 63%, 1);
}

.svg-icon{
  transition: all 0.5s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.svg-icon:hover{
  transition: all 0.5s ease;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.button-big-query{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
}

.svg-menu{
  fill: #b42547;
}